# Database
DATABASE_URL=postgresql://user:password@localhost:5432/timo

# NextAuth
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=seu-secret-aqui

# Gerar um novo secret com: openssl rand -base64 32
